.menu {
    background-color: #45454D;
    font-family: 'Roboto', sans-serif;
    color: #FB0091;
}

.menu .nav-link {
    color: #FB0091;
}

.menu .nav-link:hover {
    color: #8ED6FF;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.foto {
    height: 500px;
}

.footer {
    background-color: #45454D;
    height: 100px;
}